@import "src/app/styles/main";

ul.actions {
	margin-top: 30px;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;

	li.action {
		color: transparentize($color-text-white, .5);
		cursor: pointer;
		user-select: none;

		&.active, &:hover {
			color: $color-text-white;
		}

		&.active {
			//transform: scale(1.2);
			//transform-origin: center center;
		}
	}
}
