@use "sass:map";
@import "src/app/styles/main";

mat-card {
  padding: 30px 30px;
  height: 100%;

  &:hover {
    @include mat-elevation(5);
  }
}

mat-card-footer {
  padding-left: 16px;
  padding-bottom: 16px;
}

mat-card-actions {
  padding-top: 30px;
  button {
    width: 100%;

    &:not(:nth-child(1)) {
      margin-top: 10px;
    }
  }

  .sign-up-subtext {
    color: $color-grey;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    cursor: default;
    span {
      //color: $color-light-grey;
      color: map.get($mat-indigo, A700);
      cursor: pointer;
    }
  }
}

mat-error {
  margin-bottom: 5px;
}

button.sign-in-google-btn {
  width: 90%;
  display: block;
  margin: auto;
}

.sign-up-providers {
	text-align: center;
	.fa-google {
		background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		-webkit-text-fill-color: transparent;
	}

	.fa-facebook {
		color: rgb(66, 103, 178);
	}

	.providers {
		margin-top: 10px;
		i + i {
			margin-left: 20px;
		}
		i {
			cursor: pointer;
			font-size: 48px;

			&:hover {
				transform: scale(1.1);

			}
		}
	}
}

@media (min-width:768px) {
  :host {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  mat-card {
    margin-top: 100px;
    min-width: 400px;
    height: auto;
  }
}
