@import '~@angular/material/theming';


// global material styles
mat-form-field {
  width: 100%;

  &.ng-invalid.ng-touched {
    margin-bottom: 10px;
  }
}


// Mat-buttons
button.mat-google-btn {
  background-color: green;
  color: #fff;
}
