@import "src/app/styles/main";

.wrap {
	display: grid;
	grid-template-columns: 50px calc(100% - 50px);
	width: 100%;
	overflow: hidden;
	padding: 10px 5px;
	border-radius: 10px;
	cursor: pointer;


	&:hover {
		background: $color-darker-gray;
	}

	.column-2 {
		flex: 1;
		padding-left: 15px;
		padding-top: 5px;
		text-overflow: ellipsis;
		overflow: hidden;

		.heading {
			font-size: 16px;
			font-weight: bolder;
			letter-spacing: 2px;
			color: $color-text-light;
		}

		.time-stamp {
			font-size: 10px;
			color: $color-text-lightest;
			margin-top: -5px;
			margin-left: 5px;
		}

		.sub-heading {
			font-size: 12px;
			color: $color-text-lighter;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}
