@import "src/app/styles/main";

.profile-section {
	//background: transparentize($color-lightest-grey, 0.9);
	//border-radius: 10px;
	//padding: 10px;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: start;
	grid-gap: 15px;

	.name-section {
		padding-top: 10px;
		font-size: 16px;
		font-weight: bolder;
		letter-spacing: 2px;
		color: $color-text-light;
	}
}
