/* You can add global styles to this file, and also import other style files */
@import "app/styles/main";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: $color-bg-grey;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}


pre {
	display: block;
	background: $color-grey;
	color: white;
	border: 1px solid darken($color-bg-grey, 20);
	padding: 10px;
	margin: 5px;
	border-radius: 10px;
	overflow: hidden;
}
