@use "sass:map";
@import "src/app/styles/main";

.profile-pic {
	margin: 20px auto;
	cursor: pointer;
	border-radius: 500px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: .25s;
	position: relative;
	overflow: hidden;

	.hover-shade {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 500px;
		transition: .25s;
	}

	&:hover {
		@include mat-elevation(2);
		.hover-shade {
			background: rgba(0,0,0,.3);
		}
	}
}
