@import "src/app/styles/main";

.spacer {
	flex: 1 1 auto;
}

.user-profile {
	border-radius: 50px;
	overflow: hidden;
}

.app-container {
	width: 100%;
	height: 100%;
	background: transparent;
}

.app-sidenav-content {
	display: grid;
	grid-template-rows: auto 1fr;
	background: $color-text-white;

	.side-nav-container {
		display: flex;
		height: 100%;
		width: 100%;
		align-items: center;
		justify-content: center;
	}
}

.app-sidenav {
	padding-top: 20px;
	width: 300px;
}


mat-drawer {
	//background: $color-primary;
	background: $color-charcoal;

	::ng-deep.mat-drawer-inner-container::-webkit-scrollbar {
		display: none;
	}
}

app-chats {
	display: block;
	margin-top: 20px;
}

.mat-drawer-wrapper {
	width: 100%;

	.sticky-container {
		//background: $color-primary;
		background: linear-gradient(180deg, $color-charcoal 96%, transparent 100%);
		z-index: 100;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
	}
}


mat-toolbar {
	//background: $color-primary;
	padding: 60px 30px 60px 60px;
	color: $color-charcoal;

	.hamburger-btn {
		position: absolute;
		left: 10px;
		background: transparent;
		color: $color-charcoal;
	}

	.name {
		display: flex;
		flex-direction: column;
		margin-left: 20px;


		.description {
			font-size: 12px;
		}
	}

	.spacer {
		flex: 1;
	}

	.options {
		font-size: 14px;
		padding: 0;
		list-style: none;
		display: flex;

		li {
			cursor: pointer;
			text-transform: capitalize;
			transition: .2s ease-in-out;
			transform-origin: center center;
			position: relative;

			& + li {
				margin-left: 20px;
			}

			&:not(:last-child) {
				color: $color-gray;

				&:hover {
					color: $color-charcoal;
				}
			}

			&:not(:last-child):after {
				content: '|';
				position: absolute;
				right: -10px;
				color: $color-gray;
			}

			&:last-child:hover {
				transform: rotate(30deg);
				transform-origin: center center;
			}
		}
	}
}


@media(min-width: 768px) {
	mat-toolbar {
		padding: 60px 60px;

		.options li {
			font-size: 16px;
		}
	}
}
